body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* frank */
.border-radius10 {
    border-radius: 10%;
}

.text-align-center {
    text-align: center
}

.border-solid1 {
    border: solid 1px #eee
}

.margin-bottom-20 {
    margin-bottom: 20px
}

.margin-bottom-60 {
    margin-bottom: 60px
}

.border-bottom-solid {
    border-bottom: solid 1px #eee;
    padding-bottom: 10px;
}

.margin-auto {
    margin: auto;
}

.width500 {
    width: 500px;
}

border-unset {
    border: unset
}

/* end fran*/

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
