
@{
    ViewData["Title"] = "Companies";
}

<style type="text/css">
    .row div {
        height: 376px;
        margin-bottom: 20px;
    }
</style>

<div class="margin-auto width500">
    <h1 class="text-align-center margin-bottom-20 border-bottom-solid">合作伙伴</h1>
</div>

<div class="row">
    <div class="col-md-4 text-align-center">
        <div class="thumbnail">
            <img src="~/images/companies/lestina.jpg" class="border-radius10 .border-solid1" />
            <div>
                <h3><a href="http://www.lestina.com" target="_blank">LESTINA</a></h3>
                <p>晓龙国际是一家知名的大中华区专业经销商，拥有应用工程团队。晓龙国际在中国大陆及台湾地区拥有超过25年的历史并设有6个办事处。他们有超过100名销售人员和应用工程师为目标客户提供服务和技术支援。这是把产品引进市场的非常有效的渠道。</p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4 text-align-center">
        <div class="thumbnail">
            <img src="~/images/companies/高瞻.jpg" class="border-radius10 .border-solid1" />
            <div>
                <h3><a href="http://www.gaozhanmicro.com/" target="_blank">高瞻</a></h3>
                <p>高瞻是一家具有丰富半导体行业经验、多元化的中国公司。我们在半导体行业拥有超过45年的行业经验，在大中国地区的发展经验更是超过了25年。高瞻主要从两个领域为其客户和合作伙伴提供服务：咨询领域和投资领域。</p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4 text-align-center">
        <div class="thumbnail">
            <img src="~/images/companies/矽能.jpg" class="border-radius10 .border-solid1" />
            @*<img src="~/images/companies/E79FBDE883BD.jpg" />*@
            <div>
                <h3><a href="http://www.sipowervalley.com/" target="_blank">SILICON POWER</a></h3>
                <p>矽能科技是一家专注服务于功率半导体初创企业的孵化器，总部位于成都，拥有5000平方米的工程中心并与孵化企业合作进行功率半导体相关领域的研发</p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4 text-align-center">
        <div class="thumbnail">
            <img src="~/images/companies/DX.jpg" class="border-radius10 .border-solid1" />
            <div>
                <h3><a href="http://www.dxmfg.com/" target="_blank">DX MANUFACTURING</a></h3>
                <p>DX Manufacturing是一家知名的高混合低批量的高科技电子制造服务公司，在深圳设有工厂。DX从设计、采购、表面组装原件的生产、测试、整机装配、物流等方面提供完整的解决方案。</p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4 text-align-center">
        <div class="thumbnail">
            <img src="~/images/companies/potoh.jpg" class="border-radius10 .border-solid1" />
            <div>
                <h3><a href="http://www.proton-electrotex.com" target="_blank">PROTON-ELECTROTEX</a></h3>
                <p>PROTON-ELECTROTEX在功率半导体二极管、晶闸管、模块、散热器、IGBTs以及用于各种电能转换器的电源单元等产品研发和生产方面具有领先地位的俄罗斯厂商。公司的主要目标是为客户提供现代化、可靠的产品。</p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4 text-align-center">
        <div class="thumbnail">
            <img src="~/images/companies/AEDOX.jpg" class="border-radius10 .border-solid1" />
            <div>
                <h3><a href="http://www.eng.aedon.ru/" target="_blank">AEDON</a></h3>
                <p>AEDON是一家专门从事开发和生产工业和特殊应用的电力系统的俄罗斯公司,主要产品有容量为3~1000 W，操作温度为-60~ +125°C的直流-直流转换器以及直流滤波器和有功电流过滤器</p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4 text-align-center">
        <div class="thumbnail">
            <img src="~/images/companies/dimac.jpg" class="border-radius10 .border-solid1" />
            <div>
                <h3><a href="http://www.dimacred.com" target="_blank">LESTINA</a></h3>
                <p>Dimac Red Spa是一家专业的销售机构，成立于1979年，致力于以高性能的电子产品服务于欧洲市场。公司的使命是为客户提供需要特殊的技术支持的产品和服务。我们的服务包括设计，原型和子系统的生产，高可靠性的采购活动，设计分析和额外的筛选/测试，主要集中在航空、军事、铁路市场(也包括汽车、电信和医疗市场)。</p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4 text-align-center">
        <div class="thumbnail">
            <img src="~/images/companies/micross.jpg" class="border-radius10 .border-solid1" />
            <div>
                <h3><a href="www.lestina.com" target="_blank">MICROSS</a></h3>
                全球领先的裸晶片和晶圆及增值服务供应商。
                <ul>
                    <li>行业内最大的裸晶片和晶圆的授权生产线。 </li>
                    <li>最广泛的内部能力来满足客户需求。 </li>
                    <li>最具经验的工程支持团队——设计应用与工程解决方案。</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4 text-align-center">
        <div class="thumbnail">
            <img src="~/images/companies/milandr.jpg" class="border-radius10 .border-solid1" />
            <div>
                <h3><a href="http://www.milandr.ru/" target="_blank">MILANDR</a></h3>
                <p>Miland是一家私营的俄罗斯专用集成电路设计服务公司，设计模拟、射频、混合信号及存储集成电路。公司总部及主要集成电路设计中心位于俄罗斯硅谷-泽里诺格勒。我们的测试中心也是我们提供服务的特色之一。无论是事业部，设计中心还是测试中心，都能帮助我们开发现代芯片，不断提高我们的技术水平，使产品及时升级。</p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4 text-align-center">
        <div class="thumbnail">
            <img src="~/images/companies/datel.jpg" class="border-radius10 .border-solid1" />
            <div>
                <h3><a href="http://www.datel.com/" target="_blank">DATEL</a></h3>
                <p>Datel成立于1970年，在提供高精度的数据采集元件方面长期处于领先地位，包括数据转换器、电源、直流-直流转换器和数字面板仪表。我们一流的工程技术和现代制造技术是我们成功的重要因素。</p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4 text-align-center">
        <div class="thumbnail">
            <img src="~/images/companies/re20alfa.jpg" class="border-radius10 .border-solid1" />
            <div>
                <h3><a href="http://www.rdalfa.eu/" target="_blank">RD ALFA</a></h3>
                <p>RD ALFA Microelectronics在设计和生产符合欧盟的国际武器贸易条例，高可靠性及强抗辐射性,用于航空和国防的模拟电路，特殊用途的微电路方面有50年的经验。工厂专家在模拟和模拟到数字技术(双极性、双场效应晶体管、互补双极、互补MOS和双极互补MOS)以及微电路的设计和测试领域积累了大量的经验和专业知识。</p>
            </div>
        </div>
    </div>

</div>