@{
    ViewData["Title"] = "Home Page";
}
<style type="text/css">
    .caption {
        text-align: center
    }
</style>
<div id="carousel-example-generic" class="carousel slide margin-bottom-60" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/carousel1.jpg" />
            <div class="carousel-caption">
            </div>
        </div>
        <div class="item">
            <img src="~/images/carousel2.jpg" />
            <div class="carousel-caption">
            </div>
        </div>
        <div class="item">
            <img src="~/images/carousel3.jpg" />
            <div class="carousel-caption">
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row text-align-center margin-bottom-60">
    <div class="width500 margin-auto">
        <h1 class="text-align-center margin-bottom-20 border-bottom-solid">关于我们</h1>
    </div>
    <p>自芯半导体是一家集销售、营销、工程、咨询为一体的专业机构。公司成立于中国和亚洲，由半导体行业资深人士</p>
    <p>领军，致力于服务具有挑战和高速发展的半导体和电子市场。我们的使命是为客户和合作伙伴提供产品、解决方案</p>
    <p>和咨询服务，并在中国和世界范围内取得领先地位。自芯拥有分销和市场营销两个业务领域。</p>
</div>
<div class="row margin-bottom-60">
    <div class="margin-auto width500">
        <h1 class="text-align-center margin-bottom-20 border-bottom-solid">业务领域</h1>
    </div>
    <div class="col-xs-6 col-md-6">
        <div class="thumbnail" style="border:unset">
            <img src="~/images/Distribution.png" />
            <div class="caption">
                <h3 class="text-align-center">分销</h3>
                <p>分销领域给全球知名的半导体和电子产品供应商提供特许经销</p>
                <p>权，并通过提供增值服务将其解决方案和产品分销给中国和国</p>
                <p>外的客户。</p>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-md-6">
        <div class="thumbnail" style="border:unset">
            <img src="~/images/consulting.png" />
            <div class="caption">
                <h3 class="text-align-center">市场营销</h3>
                <p>市场营销领域致力于为客户提供专业的咨询服务，通过将最优秀</p>
                <p>的销售渠道和客户连接，帮助我们的客户把业务拓展到中国和国</p>
                <p>外。</p>
            </div>
        </div>
    </div>
</div>

<div class="margin-auto width500">
    <h1 class="text-align-center margin-bottom-60 border-bottom-solid">我们的产品</h1>
</div>
<div class="row margin-bottom-60">
    <div class="col-md-4">
        <img src="~/images/Genesis.png" style="" />
    </div>
    <div class="col-md-8">
        <h3><a href="www.jingxin-yz.com">晶新微电子</a></h3>
        <p>
            扬州晶新微电子有限公司是中日合资专业从事半导体器件芯片生产的企业，公司成立于1998年底。投资总额5,000万美元，占地
            面积约51,000平方米，员工约500人。公司现有4吋分立器件芯片生产线一条、5吋分立器件芯片和IC芯片生产线一条。公司专业
            从事半导体分立器件芯片的开发、设计、制造和销售，并接受双极型集成电路芯片的代工业务。公司的主要产品有：小信号晶体管
            芯片、大功率晶体管芯片、开关晶体管芯片、达林顿晶体管芯片、开关二极管芯片、肖特基二极管芯片、稳压二极管芯片、高频晶
            体管芯片和双极型集成电路芯片等。
        </p>
    </div>
</div>

<div class="row margin-bottom-60">
    <div class="col-md-4">
        <img src="~/images/VISIC.jpg" />
    </div>
    <div class="col-md-8">
        <h3><a href="www.visic-tech.com/">威电技术</a></h3>
        <p>
            威电技术成立于2010年，旨在以复合半导体氮化镓（GaN）替换功率转换系统上大部分硅（Si）产品的基础上开发并销售大功率组
            件产品。核心团队成员均是氮化镓设备与技术领域的精英。独特而又差异化的VisIC产品可以满足特色系统设计师的需求，同时成本和性能上具有显著优势。
        </p>
    </div>
</div>

<div class="row margin-bottom-60">
    <div class="col-md-4">
        <img src="~/images/ADT.jpg" />
    </div>
    <div class="col-md-8">
        <h3><a href="www.adt-co.com">先进切割技术</a></h3>
        <p>
            以色列先进切割技术有限公司专门从事半导体晶圆切割（划片）、芯片封装切割（划片）及微电子组件相关系统、工艺流程开发和刀片制造(软刀)，致力于提供电子器件和光学器件专业切割及插削服务。公司将设备、刀片制造技术和工艺流程融合到一起，为客户提供全方位切割解决方案。 2003年，投资者收购了库力索法半导体有限公司的切割设备（划片机）及刀片制造销售部门，成立了以色列先进切割技术有限公司。公司企业总部、研发设施以及两家生产工厂均位于以色列。
        </p>
    </div>
</div>
