
@{
    ViewData["Title"] = "Team";
}

<div class="margin-auto width500">
    <h1 class="text-align-center margin-bottom-20 border-bottom-solid">团队成员</h1>
</div>

<div class="row margin-bottom-60">
    <div class="col-md-3">
        <img src="~/images/zixin/team/David20French.jpg" />
    </div>
    <div class="col-md-9">
        <h3>DAVID FRENCH</h3>
        <p>董事长</p>
        <p>
            David French 来自美国硅谷，曾任Fairchild Semiconductor公司的逻辑产品部门总经理，Analog Devices公司的数字信号处理（DSP）事业部门的总经理，Cirrus Logic的总裁和CEO。拥有超过35年的半导体行业经验，从事半导体行业超过三十年，在产品开发、营销、制造、策略计划和商业管理方面都有着第一手的经验。2001年起积极投身中国半导体行业，就职于行业中多家公司董事会、恩智浦微电子社会创新投资合伙人。现任上海先进半导体制造有限公司(ASMC)（一家在香港挂牌的半导体公司）的非执行董事长。
        </p>
    </div>
</div>

<div class="row margin-bottom-60">
    <div class="col-md-3">
        <img src="~/images/zixin/team/Winter20Chan.jpg" />
    </div>
    <div class="col-md-9">
        <h3>WINTER CHAN</h3>
        <p>首席执行官</p>
        <p>
            陈钧权来自新加坡。他曾任职多家美国、欧洲跨国公司的亚太区销售总监，在半导体、LED、经销等领域拥有超过30年的营销管理经验，曾在中国、日本、韩国、东盟、印度、澳大利亚、新西兰成功开拓直销和FAE团队、经销商、代理渠道。他曾担任Arrow Electronics南亚区总裁 、Cirrus Logic、Future Electronics、Cree亚洲区销售副总。他还是英国特许市场营销协会成员。
        </p>
    </div>
</div>
<div class="row margin-bottom-60">
    <div class="col-md-3">
        <img src="~/images/zixin/team/Jesse20Parker.jpg" />
    </div>
    <div class="col-md-9">
        <h3>白杰先</h3>
        <p>首席财务官</p>
        <p>
            白杰先（Jesse Parker) 来自美国马萨诸塞州波士顿，常驻中国四川成都。他在中国生活、工作了超过25年。他在IBM半导体微电子部门当过副总裁，也当过软银资本全球基金管理副总裁。2002年以来他主要从事天使投资，风险投资及国际收购投资。投资项目也包括半导体芯片设计公司。目前他是成都高瞻企业咨询有限公司的总经理。白先生现任职上海交通大学海外学院与安泰管理学院的客座教授。他精通中文。
        </p>
    </div>
</div>
<div class="row margin-bottom-60">
    <div class="col-md-3">
        <img src="~/images/zixin/team/Harvey20An20.jpg" />
    </div>
    <div class="col-md-9">
        <h3>安慧涛</h3>
        <p>亚洲业务发展副总</p>
        <p>
            安慧涛在西安、苏州、北京、上海等多个城市，以及新加坡和美国有工作和学习的经历，目前定居上海。从事半导体行业超过15年， 熟悉汽车电子、工业控制、安防监控、消费电子和医疗电子等市场应用，在大学期间已经涉足大规模并行处理计算机和人工智能领域。 先后任职于Delphi、TI、敦南科技、中航微电子和华润微电子等多家公司，在市场拓展和销售方面有丰富经验。2008-2009年在上海交大学习风险投资课程，曾任上海交大投融资俱乐部理事。
        </p>
    </div>
</div>
<div class="row margin-bottom-60">
    <div class="col-md-3">
        <img src="~/images/zixin/team/David20Hottenstein20.jpg" />
    </div>
    <div class="col-md-9">
        <h3>DAVID HOTTENSTEIN</h3>
        <p>美国，欧洲，中东和北非业务发展副总裁</p>
        <p>
            David Hottenstein 拥有超过30年的国际销售和业务发展经验。曾在IBM（德国）任职，并在美国凌云逻辑担任台湾分公司总经理。目前他带领3家不同的初创公司发展销售和市场业务，分别是： Kenet Inc –英特锡尔收购3年的美国高速ADC初创公司；Artic Silicon –美国模拟器件公司收购1年的挪威初创公司；Chelsio Communications –高速以太网：任职美国中央销售总监4年 。David技术背景深厚，拥有雪城大学电机工程学硕士学位，辅修物理并拥有深厚的的半导体行业经验，侧重防御、电信、存储、网络、射频、高性能计算器、计算和工业市场的功率、以太网、模拟、图表算法、音频、物联网、ADC、ARM和嵌入式CPU。
        </p>
    </div>
</div>
<div class="row margin-bottom-60">
    <div class="col-md-3">
        <img src="~/images/zixin/team/Mark20Kozlovsky.jpg" />
    </div>
    <div class="col-md-9">
        <h3>MARK KOZLOVSKY</h3>
        <p>Senior Consultant</p>
        <p>
        </p>
    </div>
</div>

